<app-header></app-header>

<!-- <mat-sidenav-container class="sidenav-container">
  <!-- Barra lateral -->
<!-- <mat-sidenav mode="side" opened class="sidenav">
  <mat-nav-list>
    <a mat-list-item href="#" mat-tooltip="Dashboard">
      <mat-icon>dashboard</mat-icon>
    </a>
    <a mat-list-item href="/desarrolladores" mat-tooltip="Desarrolladores">
      <mat-icon>person-icon</mat-icon>
    </a>
    <a mat-list-item href="/proyectos" mat-tooltip="Proyectos">
      <mat-icon>assignment</mat-icon>
    </a>
    <a mat-list-item href="/tareas" mat-tooltip="Tareas">
      <mat-icon>task</mat-icon>
    </a>
    <a mat-list-item href="/metricas" mat-tooltip="Métricas">
      <mat-icon>bar_chart</mat-icon>
    </a>
  </mat-nav-list>
</mat-sidenav> 

  <!-- Contenido principal -->
<!--  <mat-sidenav-content>
   
  </mat-sidenav-content>
</mat-sidenav-container>-->
   <main>
  <router-outlet></router-outlet>
</main>

<app-footer></app-footer>
