<div style="display: flex; flex-direction: row;">
  <button mat-icon-button (click)="abrirMenu()" class="custom-button">
    <mat-icon>menu</mat-icon>
  </button>
  @if (menu){
  
    <mat-nav-list  style="position: absolute; top: 65px; left: 5px; background-color: #D6CFC7; border-radius: 10px; padding: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); width: 300px;">
      @for(item of menuItems; track item.name){
      <mat-list-item role="listitem" [routerLink]="item.route">
        <mat-icon style="border-right: 5px;">{{ item.icon }}</mat-icon>
        <a style="border-left: 10px;">{{item.name}}</a>
      </mat-list-item>}
    </mat-nav-list>
  
  }
  <p style="margin-left: 30px; margin-top: 20px; color: white;">Gestion de proyectos</p>
</div>


