<div style="display: flex; justify-content:space-between;">
  <div style="display: flex; flex-direction: row;">
    <p style="margin-left: 50px; font-size: 25px;">Desarrolladores</p>
    <mat-form-field appearance="outline" style="margin-left: 40px;">
      <mat-label>Buscar</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ej. Mia" #input>
    </mat-form-field>
  </div>

  <button mat-raised-button
    style="color: #3B2229; height: 50px; margin-right: 85px; margin-bottom: 20px; background-color: beige"
    (click)="openRegistrarDialog()">
    Registrar Desarrollador
  </button>
</div>

<div class="mat-elevation-z8" style="width: 1250px; margin: 0 auto;">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- Nombre Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
      <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
      <td mat-cell *matCellDef="let row"> {{row.correo}} </td>
    </ng-container>

    <!-- Rol Column -->
  <ng-container matColumnDef="rol">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Rol </th>
    <td mat-cell *matCellDef="let row"> {{ row.rol?.nombre || 'No definido' }} </td>
  </ng-container>

    <!-- Fecha de contratación Column -->
    <ng-container matColumnDef="fechaContratacion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de contratación </th>
      <td mat-cell *matCellDef="let row"> {{row.fechaContratacion | date}} </td>
    </ng-container>

    <!-- Acciones Column -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element">
        <button mat-mini-fab style="margin: 5px; background-color: transparent;" matTooltip="Visualizar"  (click)="openDeveloperInfo(element)">
          <mat-icon style="margin: 5px; color: #3B2229">visibility</mat-icon>
        </button>
        <button mat-mini-fab style="margin: 5px; background-color: transparent" matTooltip="Editar"
          (click)="openEditDialog(element)">
          <mat-icon style="margin: 5px; color: #3B2229;">edit</mat-icon>
        </button>
        <button mat-mini-fab style="margin: 5px; background-color: transparent" matTooltip="Eliminar"
           (click)="deleteElement(element)">
          <mat-icon color="warn" style="margin: 5px;">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="5">No se encuentra desarrollador "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>