<div *ngIf="project; else noProject">
  <div class="title">
    <h3>{{ project?.name }}</h3>
    <h6>{{ project?.description }}</h6>
    <div class="date-info">
      <mat-chip class="start-date">
        Inicio: {{ project?.startDate ? (project?.startDate | date: 'shortDate') : 'No definido' }}
      </mat-chip>
      <mat-chip class="end-date" *ngIf="project?.endDate">
        Fin: {{ project?.endDate | date: 'shortDate' }}
      </mat-chip>
      <mat-chip class="end-date" *ngIf="project?.responsible?.name">
        Responsable: {{ project?.responsible?.name }}
      </mat-chip>
    </div>
  </div>

  <div class="info-proyecto">
    <div>
      <mat-card class="desarrolladores-proyecto" appearance="outlined">
        <mat-card-header class="header">
          <mat-card-title class="title">Desarrolladores</mat-card-title>
          <button mat-flat-button class="btn-agregar"> Agregar desarrollador</button>
        </mat-card-header>
        <mat-card-content>
          <mat-card class="tarea" *ngFor="let dev of project.developers">
            {{ dev.desarrollador.name }} ({{ dev.desarrollador.email }})
          </mat-card>
          <p *ngIf="project.developers.length === 0">No hay desarrolladores asignados.</p>
        </mat-card-content>
      </mat-card>
    </div>

    <div>
      <mat-card class="tareas-proyecto" appearance="outlined">
        <mat-card-header class="header">
          <mat-card-title class="title">Tareas</mat-card-title>
          <button mat-flat-button class="btn-agregar"> Crear tarea</button>
        </mat-card-header>
        <mat-card-content>
          <mat-card class="tarea" *ngFor="let task of project.tasks">
            <b>{{ task.title }}</b> - {{ task.deadline ? (task.deadline | date: 'shortDate') : 'Sin fecha límite' }}
            <p>{{ task.description }}</p>
          </mat-card>
          <p *ngIf="project.tasks.length === 0">No hay tareas asignadas.</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<ng-template #noProject>
  <p>No se encontró el proyecto.</p>
</ng-template>