<div class="title">
<h3>Rediseño del sitio web </h3>
<h6>Actualizar el sitio web corporativo
</h6>
<div class="date-info">
  <mat-chip class="start-date">Inicio: 21/11/2024</mat-chip>
  <mat-chip class="end-date">Fin: 24/09/2025</mat-chip>
  <mat-chip class="end-date">Responsable: Juan Perez</mat-chip>
</div>
</div>

<div class="info-proyecto">
  <div>
    <div>
      <mat-card class="desarrolladores-proyecto" appearance="outlined">
        <mat-card-header class="header">
          <mat-card-title class="title">Desarrolladores</mat-card-title>
          <button mat-flat-button class="btn-agregar"> Agregar desarrollador</button>
      
        </mat-card-header>
      
        <mat-card-content>
          <mat-card class="tarea">
            Desarrollador 1
          
          </mat-card>
          <mat-card class="tarea">
            Desarrollador 2
          
          </mat-card>
          <mat-card class="tarea">
            Desarrollador 3
          
          </mat-card>
          <mat-card class="tarea">
            Desarrollador 4
          
          </mat-card>
          
      
        </mat-card-content>
      
      </mat-card>
    </div>
    <div>
   
    </div>
  </div>

  <div>
    <mat-card class="tareas-proyecto" appearance="outlined">
      <mat-card-header class="header">
        <mat-card-title class="title">Tareas</mat-card-title>
        <button mat-flat-button class="btn-agregar"> Crear tarea</button>
    
      </mat-card-header>
    
      <mat-card-content>
        <mat-card class="tarea">
          Tarea 1
        
        </mat-card>
        <mat-card class="tarea">
          Tarea 2
        
        </mat-card>
        <mat-card class="tarea">
          Tarea 3
        
        </mat-card>
    
      </mat-card-content>
    
    </mat-card>
  </div>

</div>