.project-container {
  margin: 10px auto;
  padding: 20px;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 20px;

  .project-header {
    text-align: center;
    margin-bottom: 20px;

    h1 {
      font-size: 2rem;
      margin-bottom: 10px;
    }

    p {
      color: #666;
    }
  }

  .project-info {
    display: flex;
    gap: 20px;

    .project-dates,
    .project-responsable {
      flex: 1;
      background-color: beige;
      padding: 10px;
    }
  }

  .project-section {
    background-color: beige;
    mat-card-title {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 1.2rem;
    }

    mat-card-content {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .task,
      .developer {
        display: flex;
        align-items: center;
        gap: 10px;
        background-color: beige;
        border-radius: 5px;
        padding: 10px;

        mat-icon {
          color: #4caf50;
        }

        .task-status {
          margin-left: auto;
          font-weight: bold;
          color: #999;
        }
      }
    }
  }
}

.btn{
  height: 30px;
  background-color: #D6CFC7;
  border: none;
  border-radius: 20px;
}
.btn:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  /* Sombra al hacer hover */
}

.task-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #eee;

  &:last-child {
    border-bottom: none;
  }
}

.task-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.task-icon {
  color: green;
  /* Cambia el color del tick verde */
  font-size: 24px;
}

.task-info {
  display: flex;
  flex-direction: column;
}

.task-title {
  font-weight: bold;
  font-size: 16px;
}

.task-developer {
  font-size: 14px;
  color: gray;
}

.task-right {
  display: flex;
  align-items: center;
}

.task-status-field {
  min-width: 150px;
}