<div style="padding: 40px;">
  <h1 mat-dialog-title style="font-size: 25px; color: #3d3d3d;">Registrar Proyecto</h1>
  <div mat-dialog-content>
    <form [formGroup]="form">
      <mat-form-field style="margin: 5px;" appearance="outline">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre" required />
      </mat-form-field>

      <mat-form-field style="margin: 5px;" appearance="outline">
        <mat-label>Descripción</mat-label>
        <input matInput formControlName="descripcion" required />
      </mat-form-field>

      <mat-form-field style="margin: 5px;" appearance="outline">
        <mat-label>Fecha de Inicio</mat-label>
        <input matInput formControlName="fecha_inicio" type="date" required />
      </mat-form-field>

      <mat-form-field style="margin: 5px;" appearance="outline">
        <mat-label>Fecha de Fin</mat-label>
        <input matInput formControlName="fecha_fin" type="date" />
      </mat-form-field>

      <mat-form-field style="margin: 5px;" appearance="outline">
        <mat-label>Responsable</mat-label>
        <mat-select formControlName="id_responsable">
          <mat-option *ngFor="let responsable of responsables" [value]="responsable.id">
            {{ responsable.nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>
  <div mat-dialog-actions>
    <button mat-button style="color: #3B2229" (click)="onCancel()">Cancelar</button>
    <button mat-raised-button style="color: #3B2229" (click)="onSave()" [disabled]="form.invalid">Guardar</button>
  </div>
</div>

