/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
font-family: 'Montserrat', sans-serif;
}
html, body { height: 100%; }
body { margin: 0;  }

main {
  padding-top: 60px;
  /* Altura del header */
  padding-bottom: 40px;
  /* Altura del footer */
  min-height: calc(100vh - 100px);
  /* Altura total menos header y footer */
}
app-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  /* Ajusta la altura según tu diseño */
  z-index: 1000;
  background-color:#3B2229;
  /* Color de fondo del header */
}

/* Footer fijo en la parte inferior */
app-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  /* Ajusta la altura según tu diseño */
  z-index: 1000;
  background-color: #D6CFC7;
  /* Color de fondo del footer */

}