.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-weight: 500;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 50px;
  /* Esto permite que las tarjetas se ajusten a nuevas filas */
  gap: 16px;
  /* Espaciado entre las tarjetas */
}
.additional-info{
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}
.mas-info{
  display: flex;
  flex-direction: row;
}

.project-card {
  flex: 1 1 500px;
  /* Cada tarjeta ocupará al menos 300px, y crecerá si hay más espacio */
  max-width: 600px;
  margin: 10px;
  padding: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: none;
  /* Limita el ancho máximo de cada tarjeta */
}
.title{
  margin-bottom: 20px;
}

.subtitle{
  margin-bottom: 20px;
}

.status{
  margin-top: 10px;
  margin-bottom: 5px;
}
mat-card {
  margin-top: 20px;
}

mat-table {
  width: 100%;
}


.date-info {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
}

.additional-info {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

.info-btn {
  display: flex;
  align-items: center;
  font-size: 14px;
  text-transform: none;
  border: none;
  background-color: beige;
  border-radius: 10px;
  padding: 10px;
}

.status-btn {
  margin-left: 200px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  width: 180px;
  color: #3d3d3d;
}
/* Estado: En progreso */
.in-progress {
  background-color: #FFB74D;
  box-shadow: 0 4px 8px rgba(241, 162, 59, 0.9);
  /* Naranja suave */
}

/* Estado: Completado */
.completed {
  background-color: #66BB6A;
  box-shadow: 0 4px 8px rgba(195, 240, 201, 0.9);
  /* Verde suave */
}

/* Estado: Planificación */
.planning {
  background-color: #42A5F5;
  box-shadow: 0 4px 8px rgba(173, 185, 255, 0.9);
  /* Azul suave */
}

.more-btn {
  margin-left: auto;
  border: none;
  border-radius: 10px;
}

.btnFiltro{
border-color: #D6CFC7;
border-radius: 10px;
padding: 10px;
margin-right: 10px;
margin-left: 50px;
margin-bottom: 10px;
font-size: 20px;
background-color: white;
}

.header-proyectos{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.custom-button {
  color: #3b2229;
  height: 50px;
  margin-right: 85px;
  margin-bottom: 20px;
  background-color: beige;
  border: none;
  border-radius: 30px;
  width: 200px;
  transition: box-shadow 0.3s ease;
  /* Animación suave para la sombra */
}

.custom-button:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  /* Sombra al pasar el mouse */
  background-color: #f5e9d7;
  /* Cambio ligero en el color de fondo */
}