<p style="margin-left: 70px; font-size: 25px;">Proyectos</p>
<div class="header-proyectos">
<div class="filter-container">
 

  <mat-form-field appearance="outline" style="width: 300px; margin-left: 70px;">
    <mat-label>Buscar proyecto</mat-label>
    <input matInput (keyup)="searchProject($event)" placeholder="Nombre del proyecto">
  </mat-form-field>
</div>
<div>
<button mat-raised-button class="custom-button" (click)="openRegistrarDialog()">
  Crear nuevo proyecto
</button>

</div>
</div>



<div class="projects-container">
  <mat-card *ngFor="let project of filteredProjects" class="project-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title class="title">{{ project.name }}</mat-card-title>
      <mat-card-subtitle class="subtitle">{{ project.description }}</mat-card-subtitle>
      
    </mat-card-header>

    <mat-card-content>
      <div class="date-info">
        <mat-chip class="start-date">Inicio: {{ project.startDate | date }}</mat-chip>
        <mat-chip class="end-date">Fin: {{ project.endDate ? (project.endDate | date) : 'En progreso' }}</mat-chip>
      </div>
      <div class="additional-info">
        <div class="responsible-info">
          Responsable: {{ project.responsible.name }}
        </div>
        <div class="mas-info">
          <button mat-fab extended class="info-btn">
            <mat-icon>group</mat-icon>
            {{ project.developers.length }} Desarrolladores
          </button>
          <button mat-fab extended class="info-btn">
            <mat-icon>task</mat-icon>
            {{ project.tasks.length }} Tareas
          </button>
        </div>
        <button mat-icon-button class="more-btn" matTooltip="Ver más detalles" (click)="goToProyecto(project.id)">
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>